@value  GRAY_X_LIGHT_COLOR, SMALL_FONT_SIZE, STAGE_BACKLOG, ERROR_COLOR from '../Variables.css';

.table {
    min-width: 920px;
    max-width: 1016px;
    border-spacing: 0;
}

td {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 5px;
}

 tr.bottomborder td, tr.heading td {
    border-bottom: 1px solid #E5E5E5;
}

tr {
    border-left:1px solid transparent;
    border-right:1px solid transparent;
}

tr:hover td {
    background:rgba(218,13,99,0.2);
    cursor: pointer;
   
;}

.lefttext {
   display: flex;
   justify-content: flex-start;
}

.summarytitle {
    padding-left: 32px;
    display: flex;
    justify-content: flex-start;
}
.summaryline {
    font-weight: bolder;
}

.heading {
    color: GRAY_X_LIGHT_COLOR;
    font-size: SMALL_FONT_SIZE;
    text-transform: uppercase;
}

.avatar {
    border-radius: 24px;
    margin-right: 8px;
}

.greysquare {
    width: 24px;
    height: 24px;
    background: STAGE_BACKLOG;
    border-radius: 24px;
    margin-right: 8px;
}

.manager {
    position: relative;
    display: flex;
    align-items: center;
}

.count {
    margin-left: 3px;
    font-size: SMALL_FONT_SIZE;
    color: GRAY_X_LIGHT_COLOR;
}

.troubles {
    position: absolute;
    left: 20px;
    top: 5px;
    padding: 1px;
    background: ERROR_COLOR;
    font-size: 6px;
    color: #fff;
    border-radius: 6px;
}

.greytext {
    color: GRAY_X_LIGHT_COLOR;
}

.isloading {
    display: flex;
    align-items: center;
}

.loadgradient {
    width: 112px;
    height: 6px;
    background: linear-gradient(90deg, #E5E5E5 0%, rgba(229, 229, 229, 0) 88.39%);
}